In [90]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR
import os
from sys import platform
from sklearn import preprocessing
from sklearn.preprocessing import OneHotEncoder as onehotencoder
le = preprocessing.LabelEncoder()

In [91]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [92]:
print(df_train.shape[0])
df_train.sample()

40455

,id,carat,cut,color,clarity,depth,table,x,y,z,price
23640,23640,1.09,Ideal,G,VVS2,61.2,57.0,6.62,6.66,4.06,9.023

In [93]:
print(df_test.shape[0])
df_test.sample()

13485

        id  carat        cut color clarity  depth  table    x     y     z
8939  8939   1.18  Very Good     G     SI2   62.4   56.0  6.8  6.83  4.25

In [111]:
df_train = pd.get_dummies(df_train)
df_test = pd.get_dummies(df_test)

In [112]:
df_train_cleaned = df_train.select_dtypes(exclude='object')
print(df_train_cleaned.shape[0])
df_train_cleaned

40455

,id,carat,depth,table,x,y,z,price,cut_Fair,cut_Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,0.30,62.4,58.0,4.31,4.28,2.68,6.353,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1.01,62.7,56.0,6.42,6.46,4.04,9.183,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2,0.72,61.8,59.0,5.71,5.74,3.54,7.983,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,1.08,63.2,57.0,6.54,6.50,4.12,8.371,0,0,...,0,0,0,0,0,1,0,0,0,0
4,4,0.36,62.3,59.0,4.50,4.55,2.82,6.588,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.42,62.1,59.0,4.78,4.82,2.98,6.551,0,0,...,0,0,0,0,0,1,0,0,0,0
40451,40451,0.53,62.0,58.0,5.21,5.18,3.22,7.382,0,0,...,0,0,0,0,0,0,0,1,0,0
40452,40452,0.80,62.8,58.0,5.86,5.90,3.69,7.768,0,1,...,0,0,0,0,0,1,0,0,0,0
40453,40453,1.01,61.5,57.0,6.40,6.48,3.96,8.726,0,0,...,0,0,0,0,0,0,0,1,0,0
40454,40454,1.30,60.1,58.0,7.10,7.14,4.28,8.771,0,0,...,1,0,0,0,0,0,0,1,0,0

In [113]:
df_train_cleaned

,id,carat,depth,table,x,y,z,price,cut_Fair,cut_Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,0.30,62.4,58.0,4.31,4.28,2.68,6.353,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1.01,62.7,56.0,6.42,6.46,4.04,9.183,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2,0.72,61.8,59.0,5.71,5.74,3.54,7.983,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,1.08,63.2,57.0,6.54,6.50,4.12,8.371,0,0,...,0,0,0,0,0,1,0,0,0,0
4,4,0.36,62.3,59.0,4.50,4.55,2.82,6.588,0,0,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.42,62.1,59.0,4.78,4.82,2.98,6.551,0,0,...,0,0,0,0,0,1,0,0,0,0
40451,40451,0.53,62.0,58.0,5.21,5.18,3.22,7.382,0,0,...,0,0,0,0,0,0,0,1,0,0
40452,40452,0.80,62.8,58.0,5.86,5.90,3.69,7.768,0,1,...,0,0,0,0,0,1,0,0,0,0
40453,40453,1.01,61.5,57.0,6.40,6.48,3.96,8.726,0,0,...,0,0,0,0,0,0,0,1,0,0
40454,40454,1.30,60.1,58.0,7.10,7.14,4.28,8.771,0,0,...,1,0,0,0,0,0,0,1,0,0

In [114]:
X = df_train_cleaned.iloc[:,:-1]
y = df_train_cleaned['price']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.32)

In [115]:
X

,id,carat,depth,table,x,y,z,price,cut_Fair,cut_Good,...,color_H,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1
0,0,0.30,62.4,58.0,4.31,4.28,2.68,6.353,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,1.01,62.7,56.0,6.42,6.46,4.04,9.183,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0.72,61.8,59.0,5.71,5.74,3.54,7.983,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,1.08,63.2,57.0,6.54,6.50,4.12,8.371,0,0,...,0,0,0,0,0,0,1,0,0,0
4,4,0.36,62.3,59.0,4.50,4.55,2.82,6.588,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,40450,0.42,62.1,59.0,4.78,4.82,2.98,6.551,0,0,...,0,0,0,0,0,0,1,0,0,0
40451,40451,0.53,62.0,58.0,5.21,5.18,3.22,7.382,0,0,...,0,0,0,0,0,0,0,0,1,0
40452,40452,0.80,62.8,58.0,5.86,5.90,3.69,7.768,0,1,...,0,0,0,0,0,0,1,0,0,0
40453,40453,1.01,61.5,57.0,6.40,6.48,3.96,8.726,0,0,...,0,0,0,0,0,0,0,0,1,0
40454,40454,1.30,60.1,58.0,7.10,7.14,4.28,8.771,0,0,...,0,1,0,0,0,0,0,0,1,0

In [116]:
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train)

SVR()

In [117]:
df_test_cleaned = df_test.select_dtypes(exclude='object')
print(df_test_cleaned.shape[0])
df_test_cleaned.sample()

13485

,id,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
5053,5053,0.41,61.7,55.0,4.79,4.81,2.96,0,0,1,...,0,1,0,0,0,0,0,1,0,0

In [118]:
y_pred = regressor.predict(df_test_cleaned)
y_pred

C:\Users\HFaro\anaconda3\lib\site-packages\sklearn\base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names unseen at fit time:
- clarity_VVS2
Feature names seen at fit time, yet now missing:
- price

  warnings.warn(message, FutureWarning)

array([7.79855992, 7.7988961 , 7.79898193, ..., 7.78569598, 7.78636173,
       7.78612203])

In [119]:
print(df_test_cleaned.shape[0])
df_test_cleaned.sample()

13485

,id,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
8027,8027,0.4,63.6,55.0,4.68,4.72,2.99,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [120]:
df_test_cleaned['price'] = y_pred # Adding the predicted price
df_for_submission = df_test_cleaned[["id", "price"]] # Modifying for subnmission

In [121]:
print(df_for_submission.shape[0])
df_for_submission.sample()

13485

          id     price
13376  13376  7.786519

In [122]:
df_for_submission.to_csv("my_submission.csv", index=False)